<div style="margin-top: 6em" class="container">
  <div style="text-align: center" class="row">
    <span style="font-size: 2em"><a routerLink="/main">Main Page</a></span>
  </div>

  <div *ngIf="!showLinkSuccessMsg" class="row">
    <div *ngIf="profile" class="col-lg-6">
      <div style="text-align: center">
        <p>
          <img src={{profile.avatar}} width="150px">
        </p>
        <span class="file">Select new image <input type="file" (change)="onFileSelected($event)"> </span><br>
        <span>{{selectedFileName}}</span>
        <div>
          <button id="postNewArticle" (click)="updataAvator()"  class="upload-image btn-default">upload</button>
        </div>
      </div>

      <div style="border: 2px solid #505050; margin-top: 20px">
        <span class="info-title" >Current Info</span><br>
        <div style="text-align: center">
          <p class="info">Name: {{profile.username}}</p>
          <p class="info">email: {{profile.email}}</p>
          <p class="info">phone: {{profile.phone}}</p>
          <p class="info">zip: {{profile.zipCode}}</p>
          <p class="info">birthday: {{profile.birthday}}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div style="border: 2px solid #505050; margin-top: 20px; padding:10px 20px">
        <span class="info-title">Update Info</span>
        <form #profileForm="ngForm" >
          <div class="form-group">
            <label>Email Address:</label>
            <input #email="ngModel" name="email" type="text" class="form-control"
                   pattern="[\w\.\-]+@\w+\.[a-zA-Z]+" ngModel>
            <p class="alert" *ngIf="email.errors && email.touched && email.value.trim().length!=0"> email format must be valid </p>
          </div>

          <div class="form-group">
            <label>Phone Number:</label>
            <input #phone="ngModel" name="phone" type="text" class="form-control"
                   pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" ngModel>
            <p class="alert" *ngIf="phone.errors && phone.touched && phone.value.trim().length!=0"> phone number format must be xxx-xxx-xxxx </p>
          </div>

          <div class="form-group">
            <label>Zip Code:</label>
            <input #zipcode="ngModel" name="zipcode" type="number" class="form-control" pattern="[0-9]{5}" ngModel>
            <p class="alert" *ngIf="zipcode.touched && zipcode.errors && zipcode.value.trim().length!=0"> Zip code must be a number with 5 digit length </p>
          </div>

          <div *ngIf="isNormalUser()">
            <div  class="form-group">
              <label>Password:</label>
              <input #psw="ngModel" name="psw" type="password" class="form-control" ngModel>
            </div>

            <div *ngIf="psw.touched && psw.value.trim().length!=0" class="form-group">
              <label>Confirm Password:</label>
              <input #confirmPassword="ngModel" name="confirmpsw" type="password" class="form-control"  ngModel>
              <p class="alert" *ngIf="psw.value!=confirmPassword.value && psw.touched && confirmPassword.touched"> password must be the same </p>
            </div>
          </div>
          <p>
            <button (click)="update(profileForm)" [disabled]="profileForm.form.invalid" class="form-submit">Update Info</button>
          </p>
        </form>
      </div>

      <div *ngIf="false&&!showErrorMsg && isNormalUser() && profile && (!profile.facebookId || profile.facebookId==='')">
        <button type="button" class="center btn btn-primary btn-lg" (click)="linkFacebook()">Link Facebook</button>
      </div>

      <div *ngIf="profile && !showErrorMsg && isNormalUser() && profile.facebookId">
        <button type="button" class="center btn btn-primary btn-lg" (click)="unLinkFacebook()">Unlink Facebook</button>
      </div>

      <div *ngIf="!showErrorMsg && !isNormalUser()" style="border: 2px solid #505050; margin-top: 20px; padding-left: 10px; padding-right: 10px; padding-bottom: 10px">
        <input #linkAccountName style="margin-top: 20px" class="form-control" placeholder="username">
        <input #linkAccountPassword type="password" style="margin-top: 20px" class="form-control" placeholder="password">
        <button class="form-submit" (click)="linkAccount(linkAccountName.value,linkAccountPassword.value)">Link Account</button>
      </div>

      <div *ngIf="showErrorMsg">{{errorMessage}}</div>
    </div>
  </div>

  <div *ngIf="showLinkSuccessMsg" style="font-size: x-large">
    Link succeed!,<span style="color: red">{{linkSuccedJumpSecond}}</span> seconds later you will be redirected to login.
  </div>

</div>
