<p class="title-registration" >
  Registration
</p>
<form #registerForm="ngForm" >
  <div class="form-group">
    <label>Account Name:</label>
    <input #account="ngModel" name="account" type="text" class="form-control"
           pattern="[(a-z)(A-Z)][(a-z)(A-Z)(0-9)]*" ngModel required>
    <p class="alert" *ngIf="account.errors && account.touched"> Account name can only be upper or lower case letter and number, but it cannot start with a number </p>
  </div>

  <div class="form-group">
    <label>Email Address:</label>
    <input #email="ngModel" name="email" type="text" class="form-control"
           pattern="[\w\.\-]+@\w+\.[a-zA-Z]+" ngModel required>
    <p class="alert" *ngIf="email.errors && email.touched"> email format must be valid </p>
  </div>

  <div class="form-group">
    <label>Phone Number:</label>
    <input #phone="ngModel" name="phone" type="text" class="form-control"
           pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required ngModel>
    <p class="alert" *ngIf="phone.errors && phone.touched"> phone number format must be xxx-xxx-xxxx </p>
  </div>

  <div class="form-group">
    <label>Password:</label>
    <input #passwrod="ngModel" name="psw" type="password" class="form-control" required ngModel>
  </div>

  <div class="form-group">
    <label>Confirm Password:</label>
    <input #confirmPsw="ngModel" name="confirmpsw" type="password" class="form-control"  required ngModel>
    <p class="alert" *ngIf="passwrod.value!=confirmPsw.value && passwrod.touched && confirmPsw.touched"> password must be the same </p>
  </div>

  <div class="form-group">
    <label>Zip Code:</label>
    <input #zip="ngModel" name="zipcode" type="number" class="form-control" pattern="[0-9]{5}" required ngModel>
    <p class="alert" *ngIf="zip.touched && zip.errors"> Zip code must be a number with 5 digit length </p>
  </div>

  <div class="form-group">
    <label>BirthDay:</label>
    <input #birthDay="ngModel" name="birthday" type="date" class="form-control" required [(ngModel)]="birthday">
    <p class="alert" *ngIf="birthDay.touched && isChild()"> Only individuals 18 years of age or older on the day of registration are allowed to register </p>
  </div>

  <p>
    <button (click)="formSubmit()" [disabled]="registerForm.form.invalid || isChild()" class="form-submit">submit</button>
  </p>
</form>

