<p class="title-login" >
  Login
</p>

<form #loginForm="ngForm" (ngSubmit)="login(loginForm)" *ngIf="!loginStateFail && !loginStateSuc">
  <div class="form-group">
    <label>Username:</label>
    <input #username="ngModel" name="username" type="text" class="form-control" required ngModel>
  </div>

  <div class="form-group">
    <label>Password:</label>
    <input #password="ngModel" name="password" type="password" class="form-control" required ngModel>
  </div>

  <p>
    <button id="loginSubmit" type="submit" [disabled]="loginForm.form.invalid"  class="form-submit">login</button>
  </p>
</form>

<button *ngIf="!loginStateFail && !loginStateSuc" type="button" class="center btn btn-primary btn-lg" (click)="loginWithFacebook()">Facebook Login</button>

<div id="loginFailMsg" class="alert alert-danger" *ngIf="loginStateFail" >Login Fail: {{errorMsg}}</div>
<div id="loginSucMsg" class="alert alert-success" *ngIf="loginStateSuc" >Login Succeed</div>
