.title-login{
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}
.form-submit{
  font-size: 1.2em;
  margin-top: 2%;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  color: white;
  width: 80%;
  border-radius: 10px;
  background-color: #202020;
}

.center{
  margin-top: 20px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
