.content{
  position: relative;
  top: 5em;
  margin-left: 250px;
}
.users{
  padding-left: 1em;
  padding-top: 1em;
  background-color: darkgray;
  border-width: 4px;
}
.app-headline{
  margin-top: 10px;
}
.app-following{

}
.seperator{
  background-color: green;
  width: 100%;
}

.div-posts{
  padding-top:100px ;
  background-color: darkgray;
  margin-right: 250px;
}
